user {{ global_nginx_user }};
worker_processes {{ NGINX_CORE_WORKER_PROCESSES }};
pid {{ global_nginx_pid }};

events {
  worker_connections {{ NGINX_CORE_WORKER_CONNECTIONS }};
  multi_accept {{ NGINX_CORE_MULTI_ACCEPT }};
}

http {

  # NGINX HTTP Core Module Parameters
  sendfile {{ NGINX_HTTP_CORE_SENDFILE }};
  tcp_nopush {{ NGINX_HTTP_CORE_TCP_NOPUSH }};
  tcp_nodelay {{ NGINX_HTTP_CORE_TCP_NODELAY }};
  keepalive_timeout {{ NGINX_HTTP_CORE_KEEPALIVE_TIMEOUT }};
  types_hash_max_size {{ NGINX_HTTP_CORE_TYPES_HASH_NAX_SIZE }};
  server_names_hash_bucket_size {{ NGINX_HTTP_CORE_SERVER_NAMES_HASH_BUCKET_SIZE }};
  server_tokens {{ NGINX_HTTP_CORE_SERVER_TOKENS }};
  include {{ global_nginx_mime_file_path }};
  default_type {{ NGINX_HTTP_CORE_DEFAULT_MIME_TYPE }};

  # NGINX Auto Index Module Parameters
  autoindex {{ NGINX_HTTP_CORE_SERVER_TOKENS }};

  {% if NGINX_ENABLE_SECURITY_HEADERS==True %}
  # NGINX HTTP Headers Module Parameters
  {{ NGINX_SECURITY_HEADERS }}
  {% endif %}

  {% if NGINX_SSL_ENABLE %}
  # NGINX HTTP SSL Module Parameters
  ssl_protocols {{ NGINX_SSL_PROTOCOLS }};
  ssl_session_cache {{ NGINX_SSL_SESSION_CACHE }};
  ssl_session_timeout {{ NGINX_SSL_SESSION_TIMEOUT }};
  ssl_prefer_server_ciphers {{ NGINX_SSL_PREFER_SERVER_CIPHERS }};
  ssl_dhparam {{ NGINX_SSL_DHPARAMS_KEY_PATH }};
  ssl_ciphers '{{ NGINX_SSL_CIPHERS }}';
  {% endif %}

  # NGINX HTTP Log Module Parameters
  {% if NGINX_HTTP_LOG_ENABLE_CUSTOM_FORMAT==True %}
  log_format {{ NGINX_HTTP_LOG_FORMAT }}
  access_log /var/log/nginx/access.log main;
  {% else %}
  access_log /var/log/nginx/access.log;
  {% endif %}
  error_log /var/log/nginx/error.log;

  {% if NGINX_ENABLE_GZIP==True %}
  # NGINX HTTP Gzip Module Parameters
  gzip on;
  gzip_disable "{{ NGINX_GZIP_DISABLE }}";
  gzip_vary {{ NGINX_GZIP_VARY }};
  gzip_proxied {{ NGINX_GZIP_PROXIED }};
  gzip_comp_level {{ NGINX_COMP_LEVEL }};
  gzip_buffers {{ NGINX_GZIP_BUFFERS }};
  gzip_http_version {{ NGINX_GZIP_HTTP_VERSION }};
  gzip_types {{ NGINX_GZIP_TYPES }};
  {% endif %}

  # Extra Configuration Files
  include {{ global_nginx_confd_dir_path }}/*.conf;
  include {{ global_nginx_sites.enabled_path }}/*.conf;
}